{{ form_open({'route': ['update_channel', channel.id]}) }}
    {{ form_label('name', 'Изменить название') }}
    <br>
    {{ form_text('name', channel.name ) }}
    <br>
    {{ form_submit('Save') }}
{{ form_close() }}

{{ link_to_route('main_channel', 'Назад') }}