<div>
    Все каналы
</div>
{% for channel in channels %}
    <div>
        {{ link_to_route('edit_channel', channel.name, channel.id) }}
    </div>
{% endfor %}
<br>
{{ link_to_route('create_channel', 'Создать новый канал') }}
<br>
{{ link_to_route('main_user_channels', 'К списку пользователей') }}