
<div>
    Имя пользователя <br>
    {{ user.name }}
</div>
{{ form_open({'route': ['update_user_channels', user.id]}) }}
<div>
    Каналы
</div>
{% for key,channel in channels %}
    {{ form_label('channels[]', channel.name) }}
    {{ form_checkbox('channels[]', channel.id, channel.subscribed ) }}
{% endfor %}
<br>
{{ form_submit('Save') }}
{{ form_close() }}

{{ link_to_route('main_user_channels', 'К списку пользователей') }}