<div>
    Все пользователи
</div>
{% for user in users %}
    <div>
        ID : {{ user.id }}
    </div>
    <div>
        Пользователь : {{ user.email }} :  {{ link_to_route('edit_user_channels', 'Редактировать', user.id) }}
    </div>
{% endfor %}
<br>
{{ link_to_route('main_channel', 'К списку каналов') }}

